<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAzXkKvDouQnGeSCjw8nT7A5mvRA0KQRA</string>
	<key>GCM_SENDER_ID</key>
	<string>1044101924449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.samoosmotr.lite</string>
	<key>PROJECT_ID</key>
	<string>priemka-lite</string>
	<key>STORAGE_BUCKET</key>
	<string>priemka-lite.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044101924449:ios:4f1620c426cdabdb6a4c20</string>
</dict>
</plist>